{% extends 'base.html' %}

{% block start %}

    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update Recepie</h2>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1">Recepie Name</label>
              <input type="text" name="receipe_name" value="{{receipe.receipe_name}}" required  class="form-control">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1">Recepie Discription</label>
              <textarea class="form-control"  required name="receipe_discription" value="" >{{receipe.receipe_discription}}</textarea>
             </div>
             <div class="mb-3">
                <label for="exampleInputPassword1">Recepie Image</label>
                <input type="file" name="receipe_image"class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Update Recepie</button>
          </form>

         
    </div>


{% endblock  %}